.date-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  height: 120px;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(rgb(8, 16, 78), rgb(120, 120, 220));
}

.month {
  font-size: 18px;
  text-transform: uppercase;
  opacity: 0.7;
}

.day {
  font-size: 46px;
  font-weight: 600;
  line-height: 1.1;
  margin: 5px;
}

.year {
  font-size: 18px;
  opacity: 0.6;
}
