:host {
  width: 100%;
  height: 100%;
  display: block;
}

.weather-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 14px;
  overflow: hidden;

  color: #fff;
  background: linear-gradient(rgb(5, 182, 182), rgb(122, 49, 190));

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-bar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.search-bar input {
  flex: 1;
  height: 30px;
  border-radius: 999px;
  border: none;
  padding: 0 12px;
  font-size: 1rem;
  width: 80px;
}

.search-bar button {
  height: 30px;
  padding: 0 14px;
  border-radius: 999px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.details {
  flex: 1;
  display: grid;
  place-items: center;
  text-align: center;
}

.city {
  margin: 0;
  font-size: 1.2rem;
}

.icon {
  height: 110px;
}

.temp {
  font-size: 2.6rem;
  font-weight: 700;
}

.meta {
  opacity: 0.9;
}

.empty-state {
  flex: 1;
  display: grid;
  place-items: center;
  opacity: 0.85;
}
